<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h7>
      <%= gravatar_for @user %>
        <%= @user.name %>
      </h7>
    </section>
  </aside>
</div>
